<%= render 'layouts/templates/base' %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'PropTech Portals', root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <%= link_to 'Home', root_path, class: "nav-link"%>
                <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
                <%= link_to 'Search Properties', search_properties_path, class: "nav-link"%>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <h1 class="d-flex justify-content-center mt-3 mb-3">New Properties Listed Today</h1>
    <h3 class="d-flex justify-content-center mt-3 mb-3"><%= pluralize( @properties['count'], 'result' ) %></h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Council Name</th>
                <th scope="col">Address</th>
                <th scope="col">Description</th>
                <th scope="col">Ref Number</th>
                <th scope="col">Received Date</th>
                <th scope="col">Validated Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <% @properties['properties'].each do |property| %>
                <tr>
                    <th>
                        <small><%=property['council_name']%></small>
                    </th>
                    <th><%=property['address']%></th>
                    <th>
                        <a href=<%=property['url']%> target="_blank"><%=property['description']%></a>
                    </th>
                    <th><%=property['refernce_number']%></th>
                    <th><%=property['received_date']%></th>
                    <th><%=property['validated_date']%></th>
                    <th><%=property['status']%></th>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
